@font-face {
  font-family: 'Geraldine';
  src: url('GeraldineFont.ttf') format('truetype');
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  /* Remove underline */
  color: inherit;
  /* Use the color from the parent element */
}

button {
  all: unset;
  /* Remove styles */
}

p {
  color: white;
  font-size: 24px;
}

/* Positions GitHub Text */
#h3-github {
  position: absolute;
  color: white;
  top: -100%;
  left: -7%;
}

/* Positions LinkedIn Text */
#h3-linkedin {
  position: absolute;
  color: white;
  top: -100%;
  left: -18%;
}

/* Positions GitHub Logo */
#github-link {
  z-index: 999;
  position: absolute;
  opacity: 1.0;
  top: 85%;
  left: 7%;
  user-select: none;
  /* Disable text selection on the logo */
  -webkit-user-select: none;
  /* For Safari */
  -moz-user-select: none;
  /* For Firefox */
  -ms-user-select: none;
  /* For Internet Explorer/Edge */
}


/* Positions LinkedIn Logo */
#linkedin-link {
  z-index: 999;
  position: absolute;
  opacity: 1.0;
  top: 85%;
  left: 13%;
  user-select: none;
  /* Disable text selection on the logo */
  -webkit-user-select: none;
  /* For Safari */
  -moz-user-select: none;
  /* For Firefox */
  -ms-user-select: none;
  /* For Internet Explorer/Edge */
}

/* Sets GitHub Logo dimensions*/
.github-logo {
  width: 50px;
  height: auto;

}

/* Sets LinkedIn Logo dimensions*/
.linkedin-logo {
  width: 50px;
  height: auto;

}

/* Creates box around Nav links*/
.box {
  width: 90px;
  height: 100px;
  background-color: black;
  text-align: center;
  line-height: 100px;
  border-bottom: 2px solid white;
  /* This adds a 2px solid line beneath each div */
  margin: 10px;
  /* Add margin for spacing */
}

/* Positions website logo and adds styling*/
#site-title {
  position: absolute;
  opacity: 1.0;
  top: -4%;
  left: 2%;
  color: white;
  font-family: 'Geraldine', sans-serif;
  user-select: none;
  cursor: pointer;
  /* Makes website logo selectable*/

  width: 200px;
  height: 125px;
  background-color: black;
  text-align: center;
  line-height: 100px;
  border-bottom: 2px solid white;
  margin: 10px;
  /* Add margin for spacing */
}

/* Positions the About navigation text*/
#about {
  position: absolute;
  opacity: 1.0;
  top: -4%;
  right: 26%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  user-select: none;
  /* -- Prevent image highlighting -- */
}

/* Positions the Projects navigation text*/
#projects {
  position: absolute;
  opacity: 1.0;
  top: -4%;
  right: 18%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  user-select: none;
  /* -- Prevent image highlighting -- */
}

/* Positions the Resume navigation text*/
#resume {
  position: absolute;
  opacity: 1.0;
  top: -4%;
  right: 10%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  user-select: none;
  /* -- Prevent image highlighting -- */
}

/* Positions the Contact navigation text*/
#contact {
  position: absolute;
  opacity: 1.0;
  top: -4%;
  right: 2%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  user-select: none;
  /* -- Prevent image highlighting -- */
}

/* Positions the main body text*/
#home-text {
  position: absolute;
  opacity: 1.0;
  top: 10%;
  left: 2%;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  user-select: none;
  /* -- Prevent image highlighting -- */
}

/* Positions the images on a track moving to the right*/
#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
  /* -- Prevent image highlighting -- */
}

/* Sets the image dimensions and adds styling*/
#image-track>.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
  border-radius: 20px;
}

/* Positions the upside-down images on a track moving to the right*/
#image-flack {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, 51%);
  user-select: none;
  /* -- Prevent image highlighting -- */
}

/* Sets the upside-down image dimensions and adds styling*/
#image-flack>.image-flip {
  width: 36vmin;
  /*Set to 40 for mirror effect*/
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
  transform: scaleY(-1);
}

/* Makes the upside-down images slightly transparent*/
.image-flip {
  opacity: 0.2;
  border-radius: 20px;
}