@font-face {
    font-family: 'Geraldine';
    src: url('GeraldineFont.ttf') format('truetype');
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Use the color from the parent element */
}

button {
    all: unset;
    /* Remove styles */
}

p {
    color: white;
}

/* Creates box around Nav links*/
.box {
    width: 90px;
    height: 100px;
    background-color: black;
    text-align: center;
    line-height: 100px;
    border-bottom: 2px solid white;
    /* This adds a 2px solid line beneath each div */
    margin: 10px;
    /* Add margin for spacing */
    font-size: 24px;
}

/* Moves the Projects text below the white border*/
.box-projects {
    width: 90px;
    height: 98px;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    text-align: center;
    line-height: 200px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    /* This adds a 2px solid line beneath each div */
    margin: 10px;
    /* Add margin for spacing */
}

/* Positions website logo and adds styling*/
#site-title {
    position: absolute;
    opacity: 1.0;
    top: 0%;
    left: 2%;
    color: white;
    font-family: 'Geraldine', sans-serif;
    font-size: 40px;
    user-select: none;
    cursor: pointer;
    /* -- Prevent image highlighting -- */

    width: 200px;
    height: 85px;
    background-color: black;
    text-align: center;
    line-height: 100px;
    border-bottom: 2px solid white;
    /* This adds a 2px solid line beneath each div */
    margin: 10px;
    /* Add margin for spacing */
}

/* Positions the About navigation text*/
#about {
    position: absolute;
    opacity: 1.0;
    top: -4%;
    right: 26%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    user-select: none;
    /* -- Prevent image highlighting -- */
}

/* Positions the Projects navigation text*/
#projects {
    position: absolute;
    opacity: 1.0;
    top: -4%;
    right: 18%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    user-select: none;
    /* -- Prevent image highlighting -- */
}

/* Positions the Resume navigation text*/
#resume {
    position: absolute;
    opacity: 1.0;
    top: -4%;
    right: 10%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    user-select: none;
    /* -- Prevent image highlighting -- */
}

/* Positions the Contact navigation text*/
#contact {
    position: absolute;
    opacity: 1.0;
    top: -4%;
    right: 2%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    user-select: none;
    /* -- Prevent image highlighting -- */
}

/* Positions the main body text*/
#home-text {
    position: absolute;
    opacity: 1.0;
    top: 10%;
    left: 3%;
    color: white;
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    user-select: none;
    line-height: 2.0;
    border-bottom: 2px solid white;
}

/* Div to hold all projects, expands to the right*/
.my-projects {
    opacity: 1.0;
    top: -50%;
    left: 0%;
    display: inline-block;
    margin-right: 10px;
    color: white;
    /* Push items to the end (right) of the container */
    width: 300px;
    /* Set the width of the container */
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 330px;

}

/* When images are hovered, expands them*/
img:hover {
    transform: scale(1.2);
    /* Increase the scale to make it bigger */
    transition: transform 0.3s;
    /* Add a smooth transition effect */
}

/* Gives the images the transition property*/
.enlarge-image {
    transition: transform 0.3s;
    /* Add a smooth transition effect */
}

/* Creates image container to know when hovered*/
.image-container {
    position: relative;
    width: 250px;
    /* Set the container width to match the image width */
    margin-right: 100px;
    margin-bottom: 35px;

}

/* Sets the image size and styles*/
img {
    width: 250px;
    /* Set the desired width */
    height: auto;
    border-radius: 10px;
    /* Adjust the value to control the level of rounding */
    border: 2px solid rgb(47, 189, 255);
    /* Maintain the aspect ratio */
    user-select: none;
}

/* When images are hovered, this text moves upwards*/
.enlarge-text {
    position: absolute;
    top: -55px;
    left: 40px;
    /* Set the initial left position of the text */
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    /* Text color */
    padding: 2px;
    border-bottom: 2px solid rgb(47, 189, 255);
    transition: top 0.6s;

}

/* Gives the text the transition property*/
.image-container:hover .enlarge-text {
    top: -100px;
    transition: top 0.3s;
    /* Add a transition for smooth movement */
}

/* When images are hovered, this text moves downwards*/
.bottom-text {
    top: 455px;
    left: 0px;
    position: absolute;
    /* Set the initial left position of the text */
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    /* Text color */
    padding-left: 10px;
    border-left: 2px solid rgb(40, 207, 124);
    transition: top 0.3s;
}

/* Gives the text the transition property*/
.image-container:hover .bottom-text {
    top: 505px;
    transition: top 0.3s;
    /* Add a transition for smooth movement */
}

@media (max-width: 1000px) {
    /* CSS rules for screens up to 768px wide (typical for mobile) */

    p {
        color: white;
        font-size: 16px;
    }

    /* Creates box around Nav links*/
    .box {
        width: 70px;
        height: 100px;
        background-color: black;
        text-align: center;
        line-height: 100px;
        border-bottom: 2px solid white;
        /* This adds a 2px solid line beneath each div */
        margin: 10px;
        /* Add margin for spacing */
        font-size: 24px;
    }

    /* Moves the Projects text below the white border*/
    .box-projects {
        width: 70px;
        height: 98px;
        background-color: black;
        text-align: center;
        line-height: 200px;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        /* This adds a 2px solid line beneath each div */
        margin: 10px;
        /* Add margin for spacing */
    }

    /* Positions website logo and adds styling*/
    #site-title {
        position: absolute;
        opacity: 1.0;
        top: -4%;
        left: 2%;
        color: white;
        font-family: 'Geraldine', sans-serif;
        font-size: 30px;
        user-select: none;
        cursor: pointer;
        /* -- Prevent image highlighting -- */

        width: 180px;
        height: 100px;
        background-color: black;
        text-align: center;
        line-height: 150px;
        border-bottom: 2px solid white;
        /* This adds a 2px solid line beneath each div */
        margin: 10px;
        /* Add margin for spacing */
    }

    /* Positions the About navigation text*/
    #about {
        position: absolute;
        opacity: 1.0;
        top: -4%;
        right: 40%;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        user-select: none;
        /* -- Prevent image highlighting -- */
    }

    /* Positions the Projects navigation text*/
    #projects {
        position: absolute;
        opacity: 1.0;
        top: -4%;
        right: 27%;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        user-select: none;
        /* -- Prevent image highlighting -- */
    }

    /* Positions the Resume navigation text*/
    #resume {
        position: absolute;
        opacity: 1.0;
        top: -4%;
        right: 15%;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        user-select: none;
        /* -- Prevent image highlighting -- */
    }

    /* Positions the Contact navigation text*/
    #contact {
        position: absolute;
        opacity: 1.0;
        top: -4%;
        right: 2%;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        user-select: none;
        /* -- Prevent image highlighting -- */
    }

    /* Positions the main body text*/
    #home-text {
        position: absolute;
        opacity: 1.0;
        top: 15%;
        left: 3%;
        color: white;
        font-size: 16px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        user-select: none;
        line-height: 2.0;
        border-bottom: 2px solid white;
    }

    /* Div to hold all projects, expands to the right*/
    .my-projects {
        opacity: 1.0;
        display: inline-block;
        margin-right: 10px;
        color: white;
        /* Push items to the end (right) of the container */
        width: 120px;
        /* Set the width of the container */
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 250px;
        padding-bottom: 0px;

    }

    /* When images are hovered, expands them*/
    img:hover {
        transform: scale(1.2);
        /* Increase the scale to make it bigger */
        transition: transform 0.3s;
        /* Add a smooth transition effect */
    }

    /* Gives the images the transition property*/
    .enlarge-image {
        transition: transform 0.3s;
        /* Add a smooth transition effect */
    }

    /* Creates image container to know when hovered*/
    .image-container {
        position: relative;
        max-width: 100%;
        /* Set the container width to match the image width */
        margin-right: 100px;
        margin-bottom: 35px;

    }

    /* Sets the image size and styles*/
    img {
        max-width: 100%;
        height: auto;
        /* Set the desired width */
        height: auto;
        border-radius: 10px;
        /* Adjust the value to control the level of rounding */
        border: 2px solid rgb(47, 189, 255);
        /* Maintain the aspect ratio */
        user-select: none;
    }

    /* When images are hovered, this text moves upwards*/
    .enlarge-text {
        position: absolute;
        top: -28px;
        left: 0px;
        /* Set the initial left position of the text */
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 13px;
        /* Text color */
        padding: 2px;
        border-bottom: 2px solid rgb(47, 189, 255);
        transition: top 0.6s;

    }

    /* Gives the text the transition property*/
    .image-container:hover .enlarge-text {
        top: -50px;
        transition: top 0.3s;
        /* Add a transition for smooth movement */
    }

    /* When images are hovered, this text moves downwards*/
    .bottom-text {
        top: 220px;
        left: 0px;
        position: absolute;
        /* Set the initial left position of the text */
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 12px;
        /* Text color */
        padding-left: 10px;
        border-left: 2px solid rgb(40, 207, 124);
        transition: top 0.3s;
    }

    /* Gives the text the transition property*/
    .image-container:hover .bottom-text {
        top: 245px;
        transition: top 0.3s;
        /* Add a transition for smooth movement */
    }
}