@font-face {
    font-family: 'Geraldine';
    src: url('GeraldineFont.ttf') format('truetype');
}

body {
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
}


img:hover {
    transform: scale(1.2);
    /* Increase the scale to make it bigger */
    transition: transform 0.3s;
    /* Add a smooth transition effect */
}

.enlarge-image {
    transition: transform 0.3s;
    /* Add a smooth transition effect */
}

img {
    width: 250px;
    /* Set the desired width */
    height: auto;
    border-radius: 10px;
    /* Adjust the value to control the level of rounding */
    border: 2px solid rgb(24, 24, 24);
    /* Maintain the aspect ratio */
    margin-right: 30px;
    margin-bottom: 35px;
}